*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 80px;
    height: 80px;
}
.marca{
    margin: 0 15px;
    color: #000033;
}
.cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 3rem;
    background-color: #b3b3ff;
}
.lista-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 100%;
    font-weight: 500;
    text-transform: uppercase;
    
}
.lista-menu a{
    color: #13034b;
    font-weight: 700;
    padding: 15px;
    transition:  500ms ease-in-out;
}
.lista-menu a:hover{
    background-color:  rgba(84, 84, 153, 0.404);
    color: #fff;
  
}
#home{
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #e8e8f1;
 
    padding: 120px 20px;
}
#produtos{
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #d8d8fa;
    padding: 8rem 0px;
}
#servicos{
    width: 100vw;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #e8e8f1;
    padding-top: 8rem;
}
#pets{
    width: 100vw;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #d8d8fa;
    padding-top: 8rem;
}
#contato{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #e8e8f1;
    padding-top: 8rem;
}
#content{
    width: 75vw;
   
}
#items{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
.item{
    flex: none;
    width: 100%;
    height: 400px;
    scroll-snap-align: start;
}
.item img{
    width: 100%;
    height: 100%;    
}
.titulo{
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 2rem;
    color: #000033;
}
#home p{
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    padding: 0 250px;
    
}
.colecao{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}
.produto-itens img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;

}
.produto-itens img:hover{
    transform: translateX(100px) scale(1.1) ;
    transform: translateX(10px) scale(1.1) ;
    transition: 700ms ease-in-out;
}
.produto-itens img{
    flex: 1 1 200px;
}
#produtos h2{
    font-size: 50px;
    padding: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    color:rgb(243, 22, 14) ;
    text-shadow: 0px 0px 5px rgb(250, 140, 113);
    
    
}
.descricao{
    border-left: 2px solid #190547;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #220c5f;
}
.desc{
    font-size: 15px;
}
button{
    width: 75%;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    color: #000033;
    margin-top: 10px;
    background-color: #6740d3;
    border: none;
    border-radius: 5px;
    transition: 500ms ease-in-out;
    box-shadow: 5px 5px 10px #000033a8 ;
}
button:hover{
    background-color: #3333f7;
    color: #fff;
}
.servico{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    padding: 30px;
}
.item-serv img{
    display: flex;
   justify-content: center;
   align-items: center;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 10px 15px #101014;

}
.item-serv img:hover{
    transform: translateX(100px) scale(1.1) ;
    transform: translateX(10px) scale(1.1) ;
    transition: 1s ease-in-out;
}

.item-serv h3{
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
    border-left: 2px solid #190547;
    margin-top: 5px;
    color: #000033;
}
.pets{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    padding: 30px;   
}
.lista-pet img{
    display: flex;
   justify-content: center;
   align-items: center;
    width:250px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 5px 10px 15px #101014;
}
.lista-pet img:hover{
    transform: translateX(100px) scale(1.5) ;
    transform: translateX(10px) scale(1.5) ;
    transition: 1s ease-in-out;
}
.contato{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #9090b854;
    width: 40%;
    height: 60%;
    border: 2px solid #babaca;
    border-radius: 15px;
    box-shadow:10px 10px 15px #1a1a1d79 ;
    padding: 30px;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 700;
}
 .contato input{
   width: 300px;
   height: 35px;  
   border: none;  
   margin: 5px;
}
textarea{
    width: 300px;  
    border: none;  
    margin: 5px;
}
.redes{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 20px;
   
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color:#9090b854 ;
    border-radius: 50px;
    box-shadow:10px 10px 15px #1a1a1d79 ;
    border: 2px solid #babaca;
    
 
}
.social a{
    padding: 20px;
    
}
.social a:hover{
   background-color: #9090b854;
   border-radius: 50px;
}
